body{
    height: 90vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.sq {
    height: 100px;
    width: 100px;
    opacity: 0.2;

}
.Back{
    margin-top: 10px;
    margin-left: 20px;
}
a{
    text-decoration: none;
}
.windowConteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 60%;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 14px rgba(0, 0, 0);
    border-radius: 12px;

}
.sq:nth-child(1){
    background-color:red;
}
.sq:nth-child(2){
    background-color:orange;
}
.sq:nth-child(3){
    background-color:yellow;
}
.sq:nth-child(4){
    background-color:green;
}
.BthConteiner{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
button{
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid black;
}
.functionBth{
    width: 60%;
}
.sq.active{
    opacity: 0.9;
    transition: 0.4;
}
.allButtonOff{
    background-color: red;

}
.allButtonOn{
    background-color: green;
    
}
.img{
    height: 100%;
    width: 400px;
    
}
.prewindow{
    display: flex;
    justify-content: center;
}
.window{
    border-radius: 12px;
    width: 1540px;
    overflow: hidden;
    position: relative;
    height: 300px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 4px 14px rgba(0, 0, 0);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    
}
.track{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    gap: 10px;
}
.left{
    position: absolute;
    width: 15%;
    height: 100%;
    z-index: 10;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    height: 300px;
    width: 300px;
    
}
.rigth{
    position: absolute;
    width: 15%;
    height: 100%;
    z-index: 10;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    height: 300px;
    width: 300px;
}
.track img{
    height: 300px;
    width: 300px;
}
svg{
    stroke: black;
    height: 50px;
    width: 50px;
}
.track a img {
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.35);
}

.track a img:hover {
  border-radius: 12px;    
  transform: scale(1.25);
  box-shadow: 0 6px 18px rgba(0,0,0,0.45);
}